NetCore_1.1/project.lock.json
NetCore_1.1/FlubuExample/project.lock.json
NetCore_1.1/BuildScript/project.lock.json
MVC_NET4.61/project.lock.json
NetCore_1.1.csproj/BuildScript/obj/
NetCore_1.1.csproj/FlubuExample/obj/project.assets.json
.gitattributes
NetCore_1.1.csproj/obj/project.assets.json
NetCore_1.1.csproj/FlubuExample/obj/
NetCore_1.1.csproj/FlubuExample/bin/
NetCore_1.1.csproj/BuildScript/bin/
NetCore_1.1.csproj/obj/
NetCore_1.1_xproj/FlubuExample/project.lock.json
NetCore_1.1_xproj/project.lock.json
NetCore_1.1_xproj/BuildScript/project.lock.json
NetCore_1.1.csproj/bin/
NetCore_1.1_xproj/output/FlubuExample/Microsoft.Extensions.Configuration.Abstractions.dll
NetCore_1.1_xproj/output/FlubuExample/Microsoft.Extensions.DependencyInjection.Abstractions.dll
NetCore_1.1_xproj/output/
NetCore_1.1_xproj/FlubuExample/bin/
NetCore_1.1_xproj/FlubuExample/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
NetCore_1.1_xproj/FlubuExample/obj/
NetCore_1.1_xproj/.vs/restore.dg
NetCore_1.1.csproj/FlubuExample.Tests/bin/
NetCore_1.1.csproj/FlubuExample.Tests/obj/
MVC_NET4.61/FlubuExample.Tests2/bin/
MVC_NET4.61/FlubuExample.Tests2/FlubuExample.Tests/bin/Debug/FlubuExample.Tests.pdb
MVC_NET4.61/FlubuExample.Tests2/FlubuExample.Tests/bin/
MVC_NET4.61/FlubuExample.Tests2/obj/
MVC_NET4.61/FlubuExample.Tests2/FlubuExample.Tests/obj/
NetCore_1.1.csproj/FlubuExample.Tests2/obj/
NetCore_1.1.csproj/FlubuExample.Tests2/bin/
MVC_NET4.61/TestResult.xml
MVC_NET4.61/.vs/FlubuExample/v15/sqlite3/storage.ide
MVC_NET4.61/.vs/FlubuExample/v15/.suo
NetCore_1.1.csproj/.vs/FlubuExample/v15/.suo
NetCore_1.1.csproj/.vs/FlubuExample/v15/sqlite3/storage.ide
DeployScriptExample/.vs/
DeployScriptExample/BuildScript/obj/
DeployScriptExample/obj/BuildScript.csproj.nuget.cache
DeployScriptExample/obj/
DeployScriptExample/output/
DeployScriptExample/WebApplication1/obj/
*.log
DeployScriptExample/WebApplication1/bin/
DeployScriptExample/WebApplication1/.vs/
MVC_NET4.61/.vs/
NetCore_1.1.csproj/.vs/FlubuExample/v15/Server/sqlite3/db.lock
NetCore_1.1.csproj/.vs/FlubuExample/v15/Server/sqlite3/storage.ide
NetCore_1.1.csproj/.vs/
NetCore_1.1.csproj/output/
NetCore_2.0.csproj/.vs/
NetCore_2.0.csproj/bin/
NetCore_2.0.csproj/FlubuExample.Tests/bin/
NetCore_2.0.csproj/FlubuExample.Tests/obj/
NetCore_2.0.csproj/FlubuExample.Tests2/bin/
NetCore_2.0.csproj/FlubuExample.Tests2/obj/
NetCore_2.0.csproj/FlubuExample/bin/
NetCore_2.0.csproj/FlubuExample/obj/
NetCore_2.0.csproj/obj/
NetCore_2.0.csproj/output/
NetCore_csproj/FlubuExample.Tests/obj/
NetCore_csproj/FlubuExample.Tests2/bin/
NetCore_csproj/FlubuExample.Tests2/obj/FlubuExample.Tests2.csproj.nuget.g.props
NetCore_csproj/FlubuExample.Tests2/obj/
NetCore_csproj/FlubuExample/bin/
NetCore_csproj/FlubuExample/obj/
NetCore_csproj/obj/
NetCore_csproj/output/
NetCore_csproj/FlubuExample.Tests/bin/
NetCore_csproj/bin/
NetCore_csproj/.vs/
LoadAssemblies/obj/
FlubuCustomTaskPluginAndLoadAssembliesFromDirectoryExample/bin/
FlubuCustomTaskPluginAndLoadAssembliesFromDirectoryExample/.vs/
FlubuCustomTaskPluginAndLoadAssembliesFromDirectoryExample/FlubuCore.PluginExample/bin/Debug/netstandard2.0/FlubuExample.deps.json
FlubuCustomTaskPluginAndLoadAssembliesFromDirectoryExample/FlubuCore.PluginExample/bin/
FlubuCustomTaskPluginAndLoadAssembliesFromDirectoryExample/FlubuCore.PluginExample/obj/
FlubuCustomTaskPluginAndLoadAssembliesFromDirectoryExample/obj/
ArgumentAndConfigurationPassThroughToTasksExample/.vs/FlubuExample/v15/
ArgumentAndConfigurationPassThroughToTasksExample/bin/
ArgumentAndConfigurationPassThroughToTasksExample/FlubuExample/bin/
ArgumentAndConfigurationPassThroughToTasksExample/FlubuExample/obj/
ArgumentAndConfigurationPassThroughToTasksExample/obj/
ArgumentAndConfigurationPassThroughToTasksExample/output/
ArgumentAndConfigurationPassThroughToTasksExample/FlubuExample/FlubuExample.csproj.user
MVC_NET4.61/FlubuExample/FlubuExample.csproj.user
MVC_NET4.61/obj/
DeployScriptExample/bin/
