NetCore_1.1/project.lock.json
NetCore_1.1/FlubuExample/project.lock.json
NetCore_1.1/BuildScript/project.lock.json
MVC_NET4.61/project.lock.json
NetCore_1.1.csproj/BuildScript/obj/
*.cs
NetCore_1.1.csproj/FlubuExample/obj/project.assets.json
.gitattributes
NetCore_1.1.csproj/obj/project.assets.json
NetCore_1.1.csproj/FlubuExample/obj/
NetCore_1.1.csproj/FlubuExample/bin/
NetCore_1.1.csproj/BuildScript/bin/
NetCore_1.1.csproj/obj/
NetCore_1.1_xproj/FlubuExample/project.lock.json
NetCore_1.1_xproj/project.lock.json
NetCore_1.1_xproj/BuildScript/project.lock.json
NetCore_1.1.csproj/bin/
NetCore_1.1_xproj/output/FlubuExample/Microsoft.Extensions.Configuration.Abstractions.dll
NetCore_1.1_xproj/output/FlubuExample/Microsoft.Extensions.DependencyInjection.Abstractions.dll
NetCore_1.1_xproj/output/
NetCore_1.1_xproj/FlubuExample/bin/
NetCore_1.1_xproj/FlubuExample/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
NetCore_1.1_xproj/FlubuExample/obj/
NetCore_1.1_xproj/.vs/restore.dg
NetCore_1.1.csproj/FlubuExample.Tests/bin/
NetCore_1.1.csproj/FlubuExample.Tests/obj/
MVC_NET4.61/FlubuExample.Tests2/bin/
MVC_NET4.61/FlubuExample.Tests2/FlubuExample.Tests/bin/Debug/FlubuExample.Tests.pdb
MVC_NET4.61/FlubuExample.Tests2/FlubuExample.Tests/bin/
MVC_NET4.61/FlubuExample.Tests2/obj/
MVC_NET4.61/FlubuExample.Tests2/FlubuExample.Tests/obj/
